.home-screen {
  display: flex;
  flex-direction: row;
}

.side-bar {
  width: 30vw;
  border-right: 0.125vw solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-logo {
  width: 10vw;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}

.nav-icons {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.15vw solid black;
  border-radius: 0.5vw;
  margin-bottom: 2vw;
  height: 4.5vw;
}

.mydp {
  width: 12.5%;
  height: auto;
  border-radius: 50%;
  margin-left: 5%;
}

.nav-icons p {
  font-size: 1.75vw;
  font-weight: bold;
  margin-left: 3%;
  margin-right: 40%;
}

.filter-icon {
  font-size: 1.75vw;
  margin-right: 5%;
}

.setting-icon {
  font-size: 1.75vw;
}

.collabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collabs label{
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 300;
}

.no-collab {
  width: 80%;
  height: 28vw;
  margin-bottom: -1vw;
}

.collabs p {
  width: 75%;
  text-align: center;
  font-size: 1.25vw;
}


.profile-display {
  width: 60%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-basic {
  display: flex;
  flex-direction: row;
}

.pro-pic-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-pic {
  width: 40%;
  border-radius: 50%;
}

.profile-n {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-n label {
  font-size: 2.5vw;
}

.pn-tag {
  margin-left: 1.5vw;
  border: 0.125vw solid black;
  padding: 0.5vw 1vw;
  margin-top: 0.25vw;
  border-radius: 0.5vw;
}

.profile-f {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instagram-icon {
  font-size: 1.5vw;
}

.profile-f p span {
  font-size: 1.25vw;
}

.profile-f p {
  font-weight: 600;
}

.profile-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5vw;
  width: 20vw;
  border: 0.125vw solid black;
  text-align: center;
}

.profile-bio label {
  font-size: 1vw;
  font-weight: 600;
  height: 1.75vw;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  padding: 0.5vw 0vw;
}

.profile-bio p {
  font-size: 1.2vw;
  margin-top: 0vw;
  font-weight: 300;
  font-style: italic;
  width: 100%;
  margin-bottom: 0vw;
  padding: 0.5vw 1vw;
}

.home-niche {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}

.home-niche-tags {
    display: grid;
    gap: 2%; 
    text-align: center;
}
  
.home-niche-tag {
    padding: 0.5vw 1vw;
    border: 0.125vw solid black;
    border-radius: 2vw;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9vw;
    font-weight: 600;
    text-align: center;
}
.ld {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

.ld button {
  display: inline-block;
  padding: 0.5vw 1vw;
  background-color: black;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  text-decoration: none;
  border: 0.125vw solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3vw;
}

.ld button:last-child {
  margin-right: 0%;
}

.ld button:hover {
  background-color: white;
  color: black;
}

.media {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-top: 0.1vw solid black;
  gap: 5%;
}

.tab {
  margin-top: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  margin-bottom: 0.5vw;
}

.tab.active {
  font-weight: bold;
  color: black;
}

.posts-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-post {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.reels-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-reel {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.home-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-filter label {
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 300;
}

.home-followers {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  margin-top: 2vw;
}

.home-followers label {
  font-size: 1.5vw;
  font-weight: 600;
  font-style: normal;
}

.home-followers p {
  font-size: 1.2vw;
  margin-top: 0vw;
  margin-bottom: 1.5vw;
}

.home-followers span {
  font-weight: bold;
}

.follower-slider {
  width: 80%;
  align-self: center;
}

.home-niche {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  margin-top: 2vw;
}

.home-niche label {
  font-size: 1.5vw;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0.5vw;
}

.home-distance {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  margin-top: 2vw;
}

.home-distance label {
  font-size: 1.5vw;
  font-weight: 600;
  font-style: normal;
}

.home-distance p {
  font-size: 1.2vw;
  margin-top: 0vw;
  margin-bottom: 1.5vw;
}

.home-distance span {
  font-weight: bold;
}

.distance-slider {
  width: 80%;
  align-self: center;
}

.home-filter button {
  display: inline-block;
  padding: 0.75vw 1.5vw;
  background-color: white;
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;
  border: 0.125vw solid black;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3vw;
}

.home-filter button:hover {
  background-color: black;
  color: white;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  background-color: #fff;
  padding: 20px;
  width: 40%;
  height: auto;
  overflow: auto;
  align-self: center;
}

/* Style for the modal video */
.lightbox-video {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

/* Style for the modal image */
.lightbox-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Close button for the modal */
.close-button {
  position: absolute;
  top: 10px;
  right: 1vw;
  cursor: pointer;
  color: #999;
  font-size: 18px;
  transition: color 0.3s;
}

.close-button:hover {
  color: #333;
}
