.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: -2vw;
  width: 100%;
}

.login-logo {
  width: 15vw;
}

.body {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 80%;
  border: 2px solid black;
}

.bann {
  width: 40%;
  border: 2px solid black;
}

.login-container {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 2px solid black;
  text-align: center;
  width: 35%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.login-container label {
  font-size: 30px;
  width: 70%;
  color: black;
  margin-bottom: 10px;
  margin-top: 20px;
}

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .login-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 20px;
    font-size: 16px;
  }
  
  .login-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 25px;
  }
  
  .login-button:hover {
    background-color: black;
    color: white;
  }
  
  .signup-link {
    margin-top: 50px;
  }
  
  .signup-link a {
    color: black;
    text-decoration: underline;
  }

  .tc {
    font-size: 12px;
    color: #777;
    text-align: center;
  }
  