.signup-container {
    max-width: 400px;
    max-height: 500px;
    margin: 150px auto; /* Increase the margin-top value to move it further down */
    padding: 20px;
    border: 1px solid #4e4646;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo {
    max-width: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
  }

  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
  }
  
  .signup-button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    margin-top: 50px;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  